@font-face {
    font-family: NotoSans-Bold;
	src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: NotoSans-Regular;
	src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: NotoSansArabic-Medium;
	src: url("../fonts/NotoSansArabic-Medium.ttf") format("truetype");
}
@font-face {
    font-family: NotoSansArabic-Regular;
	src: url("../fonts/NotoSansArabic-Regular.ttf") format("truetype");
}
@font-face {
    font-family: NotoSansJP-Medium;
	src: url("../fonts/NotoSansJP-Medium.otf") format("opentype");
}
@font-face {
    font-family: NotoSansJP-Regular;
	src: url("../fonts/NotoSansJP-Regular.otf") format("opentype");
}
@font-face {
    font-family: NotoSansKhmer-Medium;
	src: url("../fonts/NotoSansKhmer-Medium.ttf") format("truetype");
}
@font-face {
    font-family: NotoSansKhmer-Regular;
	src: url("../fonts/NotoSansKhmer-Regular.ttf") format("truetype");
}
@font-face {
    font-family: NotoSansKR-Medium;
	src: url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
    font-family: NotoSansKR-Regular;
	src: url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
    font-family: NotoSansSC-Bold;
	src: url("../fonts/NotoSansSC-Bold.otf") format("opentype");
}
@font-face {
    font-family: NotoSansSC-Regular;
	src: url("../fonts/NotoSansSC-Regular.otf") format("opentype");
}
@font-face {
    font-family: Oswald-SemiBold;
	src: url("../fonts/Oswald-SemiBold.ttf") format("truetype");
}