body {
    font-family: NotoSans-Regular, sans-serif;
    padding: 20px;
    font-size: .9em;
    background-color: $white;
    color: $black;
    @include responsive($sm){
        font-size: .7em;
    }
}
li{
    list-style-type: none;
}
.container{
    max-width: 750px;
    position: relative;
    @include responsive($sm){
        max-width: 412px;
    }
}
